.store
	padding-top: 50px 
	width: 100% !important
	height: 100% !important
	display: flex
	flex-direction: column
	position: relative
	z-index: 1
	>.contenedor
		width: 950px
		height: 450px
		background: rgba(0,0,0,.7)
		display: flex
		margin: auto
		>.options
			width: 200px
			height: 450px
			background: red
		>.products
			width: 750px
			height: 450px
			background: blue
			display: flex
			flex-wrap: wrap
			>div
				width: 145px
				height: 145px
				background: yellow
				margin: auto
				position: relative
				>img
					width: 100%
					height: 100%
					position: absolute
				&.obtained
					>.info
						width: 100%
						height: 100%
						position: absolute
						background: red



	

